html, body{
    margin:0;
    height: 100%;
}


.container-fluid {
    padding:0;
}

.parallax {
    background-image: url("../img/PugSom-3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.carregris {
    background-color: rgba(255,255,255,.5);
}

.carrejaune {
    background-color: rgba(224,217,29,.5);
}


.parallax2 {
    background-image: url("../img/Pugsom2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


